<a href="https://colab.research.google.com/github/codingfarm1/studing/blob/main/Pandas_05_%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **5. 통계**

In [ ]:
# 모듈 import
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [ ]:
# 데이터셋 로드
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## **describe() - 요약 통계**
- 전반적인 주요 통계를 확인할 수 있음
- 기본 값으로 **수치형(Numerical)컬럼**에 대한 통계표

- count : 데이터 개수
- mean : 평균
- std : 표준편차
- min : 최솟값
- max : 최대값

In [ ]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**문자열 컬럼에 대한 통계표**
- count : 데이터 개수
- unique : 고유 데이터의 값 개수
- top : 가장 많이 출현한 데이터 개수
- freq : 가장 많이 출현한 데이터 빈도 수

In [ ]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

## **count() - 개수**

In [ ]:
df.count()  # DataFrame 전체의 개수, 데이터의 개수

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [ ]:
df['age'].count() #단일 column의 데이터 개수 구하는 경우

714

## **mean() - 평균**

In [ ]:
df['age'].mean()

29.69911764705882

In [ ]:
# 조건별 평균
cond7 = df['adult_male'] == True
df.loc[cond7, 'age'].mean()

33.17312348668281

## **skipna=True 옵션**

- 기술 통계 함수에서 skipna=True가 기본으로 설정
- skipna=False로 설정하게되면, NaN값이 있는 column은 NaN값으로 출력함

In [ ]:
# skipna=False를 지정한 경우
df.mean(skipna=False)

In [ ]:
df.mean(skipna=True)

## **median() - 중앙값**
- 데이터의 중앙값을 출력함
- 데이터를 오름차순으로 정렬하여 중앙에 위치한 값
- 이상치(outlier)가 존재하는 경우, mean()보다 median()을 대표값으로 더 선호함

In [ ]:
pd.Series([1,2,3,4,5]).median()

3.0

In [ ]:
pd.Series([4,5,1,2,3]).median()

3.0

- 짝수개의 데이터가 있는 경우, 가운데 2개 중앙 데이터의 평균값을 출력

In [ ]:
pd.Series([1,2,3,4,5,6]).median()

3.5

- 나이의 평균(mean)과 중앙값(median)은 약간의 차이가 있음

In [ ]:
print(f"나이 평균: {df['age'].mean():.5f}\n나이 중앙값: {df['age'].median()}\n차이: {df['age'].mean() - df['age'].median():.5f}")

나이 평균: 29.69912
나이 중앙값: 28.0
차이: 1.69912

## **sum() - 합계**
- 데이터의 합계
- 문자열 column은 모든 데이터가 붙어서 출력될 수 있음

In [ ]:
df.loc[:, ['age', 'fare']].sum()

age     21205.1700
fare    28693.9493
dtype: float64

In [ ]:
df['fare'].sum() #단일 column에 대한 합계 출력

28693.9493

## **cumsum() - 누적합, cumprod() - 누적곱**

In [ ]:
df['age'].cumsum()

0         22.00
1         60.00
2         86.00
3        121.00
4        156.00
         ...
886    21128.17
887    21147.17
888         NaN
889    21173.17
890    21205.17
Name: age, Length: 891, dtype: float64

In [ ]:
df['age'].cumprod()

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

## **var() - 분산 / std() - 표준편차 <br> min() - 최소값/ max() - 최대값**

In [ ]:
# 평균
fare_mean = df['fare'].values.mean()
# 분산
my_var = ((df['fare'].values - fare_mean)**2).sum() / (df['fare'].count()-1)
my_var

2469.436845743116

In [ ]:
df['fare'].var()

2469.436845743116

In [ ]:
np.sqrt(df['fare'].var()) # 분산의 제곱근으로 표준편차 구하기

49.6934285971809

In [ ]:
df['fare'].std() #판다스의 표준편차 함수로 구하기

49.6934285971809

In [ ]:
df['age'].min()

0.42

In [ ]:
df['age'].max()

80.0

## **agg - aggregation : 통합 통계 적용 (복수의 통계 함수 적용)**

In [ ]:
# 단일 칼럼에 agg 적용
df['age'].agg(['min', 'max', 'count', 'mean'])

min        0.420000
max       80.000000
count    714.000000
mean      29.699118
Name: age, dtype: float64

In [ ]:
# 복수 칼럼에 agg 적용
df[['age', 'fare']].agg(['min', 'max', 'count', 'mean'])

              age        fare
min      0.420000    0.000000
max     80.000000  512.329200
count  714.000000  891.000000
mean    29.699118   32.204208

## **quantile() - 분위**
- Quantile : 주어진 데이터를 동등한 크기로 분할하는 지점

In [ ]:
df['age'].quantile(0.1)  # 10% quantile
df['age'].quantile(0.8)  # 80% quantile

14.0

## **unique() - 고유값 / nunique() - 고유값 개수**
- 고유값과 고유값의 개수를 구하고자 할 때 사용

In [ ]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [ ]:
df['who'].nunique()

3

## **mode() - 최빈값**
- 가장 많이 출현한 데이터를 의미함

In [ ]:
df['who'].mode()

0    man
Name: who, dtype: object

In [ ]:
df['deck'].mode()  #카테고리형 데이터에도 적용 가능

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

## **corr() - 상관관계**
- corr()로 컬럼(column)별 상관관계를 확인할 수 있음
- -1 ~ 1사이의 범위를 가짐
- -1에 가까울수록 반비례, 1에 가까울수록 정비례 관계

In [ ]:
df.corr()

In [ ]:
df.corr()['survived'] # 특정 컬럼에 대한 상관관계