<a href="https://colab.research.google.com/github/codingfarm1/studing/blob/main/Pandas_06%2C07_%EB%B3%B5%EC%82%AC%2C%EA%B2%B0%EC%B8%A1%EC%B9%98%2C%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **6. 복사와 결측치**
- Pandas 데이터프레임(dataframe)의 복사(copy)와 중요한 전처리 task 중 하나인 결측치 처리에 대해서 알아봅시다.

In [ ]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')
df.head()

## **6.1 copy(복사)**
- dataframe을 복제함
- 복제한 Dataframe을 수정해도 원본에 영향을 미치지 않음

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df_copy.loc[0, 'age'] = 99999 # [0행, 'age'열]의 값을 99999로 수정사항 반영됨
df_copy.head()
# 하지만, 원본 Dataframe의 데이터는 변경되지 않고 그대로 남아있음

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,99999.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## **6.2 결측치**

- 비어있는 데이터를 의미함<br>
1) 결측 데이터 확인<br>
2) 결측치가 아닌 데이터 확인<br>
3) 결측 데이터 채우기<br>
4) 결측 데이터 제거하기

### **6.2.1) 결측치 확인 - isnull(), isnan()**
- 컬럼(column)별 결측치의 갯수를 확인하기 위해서 sum()함수를 붙혀주면된다.
- sum()은 Pandas 통계 관련 함수이며, 통계 관련 함수는 추후에 더 자세히 알아볼 예정이다.

In [ ]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df.isnull().sum().sum() #Dataframe 전체 결측 데이터 갯수의 합산

869

### **6.2.2) 결측치가 아닌 데이터 확인 - notnull()**

In [ ]:
df.notnull().sum()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

#### **결측 데이터 필터링**

- isnull()함수가 결측 데이터를 찾는 **boolean index**이다.
- 즉, loc에 적용하여 조건 필터링을 걸 수 있음

In [ ]:
df.loc[df['age'].isnull()].head()

### **6.2.3) 결측치 채우기 - fillna()**
- 결측치에 대하여 **일괄적으로 값을 채울 수 있음**
-- 일정한 값으로 결측치 채우기
-- 평균으로 결측치 채우기
-- 중앙값으로 결측치 채우기
-- 최빈값으로 결측치 채우기

In [ ]:
# 다시 원본 DataFrame 로드
df = sns.load_dataset('titanic')

# 원본을 copy하여 df1 변수에
df1 = df.copy()

df1.tail()

In [ ]:
df1['age'].fillna(700).tail() # 결측치 채우기

In [ ]:
df1['age'] = df1['age'].fillna(700)
df1.tail()

In [ ]:
df1['age'].fillna(df1['age'].mean()).tail()  # 평균으로 채우기

In [ ]:
df1['age'].fillna(df1['age'].median()).tail()  # 중앙값으로 채우기

In [ ]:
df1['deck'].mode() # 최빈값으로 채우기
df1['deck'].mode()[0] # 최빈값(mode)로 채울 때 0번째 index 지정하여 값을 추출한 후 채워야 함

In [ ]:
df1['deck'].fillna(df1['deck'].mode()[0]).tail()

### **6.2.4) NaN 값이 있는 데이터 제거하기(dropna)**

- dropna()로 1개라도 NaN 값이 있는 행은 제거할 수 있음 (how='any')
- 기본 옵션 값은 how=any로 설정되어 있으며, 다음과 같이 변경이 가능하다
-- any : 1개라도 NaN 값이 존재 시 drop
-- all : 모두 NaN 값이 존재 시 drop

In [ ]:
df1.dropna()
df1.dropna(how='all')

In [ ]:
# 데이터에서 age가 결측치인 승객의 나이를 30세로 일괄 채우기
df.loc[df['age'].isnull(), 'age'] = 30

In [ ]:
# 여자/남자 승객의 나이의 결측치는 여자/남자 승객의 나이의 평균으로 채우기
female = (df1['sex'] == 'female')
male = (df1['sex'] == 'male')

female_age = df1.loc[female, 'age'].mean()
male_age = df1.loc[male, 'age'].mean()

df1.loc[female, 'age'] = df1.loc[female, 'age'].fillna(female_age)
df1.loc[male, 'age'] = df1.loc[male, 'age'].fillna(male_age)

# **7. 데이터 전처리, 추가, 삭제, 변환**

- **row & column의 추가, 삭제, 컬럼간 연산, 타입의 변환, 데이터 전처리 방법**
- **전처리 방법** : datetime 데이터 타입을 활용하여 시간 데이터의 전처리 방법과 pandas에서 제공하는 유용한 기능에 대해 알아봄
- **타입 변환** : to_numeric을 사용하여 수치형(numerical) 데이터로 변환하는 방법
- cut와 qcut의 차이점을 활용하여 **연속된 수치형 데이터를 binning하여 카테고리화하는 방법**

In [ ]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

# warning 무시
warnings.filterwarnings('ignore')

# e notation 표현 방식 변경
pd.options.display.float_format = '{:.2f}'.format

# 모든 컬럼 표시
pd.set_option('display.max_columns', None)

### **칼럼 추가**

In [ ]:
df = sns.load_dataset('titanic')
df1 = df.copy()
df1['VIP'] = True  #임의의 값을 대입하여 새로운 칼럼 추가
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True

- insert(컬럼 인덱스, 컬럼명, 값)

In [ ]:
df1.insert(5, 'RICH', df1['fare'] > 100) # 중간에 칼럼 추가 : 5번째 위치
df1.head(3)

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True

### **삭제 : 행(row)삭제와 열(column)삭제**

- drop(삭제할 행)
- drop(삭제할 열, axis=1)

In [ ]:
df1.drop(1) # 행 삭제 시 index를 지정하여 삭제
df1.drop(np.arange(10)) # 행 삭제 시 범위를 지정하여 삭제
df1.drop([1,3,4,6,7]).head() # 행 삭제 시 fancy indexing을 활용하여 삭제

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
5,0,3,male,NaN,0,False,0,8.46,Q,Third,man,True,NaN,Queenstown,no,True,True
8,1,3,female,27.00,0,False,2,11.13,S,Third,woman,False,NaN,Southampton,yes,False,True
9,1,2,female,14.00,1,False,0,30.07,C,Second,child,False,NaN,Cherbourg,yes,False,True

In [ ]:
df1.drop('class', axis=1).head() # 열 삭제 시 반드시 axis = 1 옵션 지정
#df1.drop('class', 1).head()

df1.drop(['who', 'deck', 'alive'], axis=1).head() # 다수의 컬럼(column) 삭제

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,adult_male,embark_town,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,True,Southampton,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,False,Cherbourg,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,False,Southampton,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,False,Southampton,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,True,Southampton,True,True

삭제된 내용 바로 적용하려면
- 1. inplace=True를 지정한다.
- 2. 변수에 재대입하여 결과를 반영한다.

In [ ]:
df1.drop(['RICH','adult_male'], axis=1, inplace=True)
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,0,7.25,S,Third,man,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,0,71.28,C,First,woman,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,0,7.92,S,Third,woman,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,0,53.10,S,First,woman,C,Southampton,yes,False,True
4,0,3,male,35.00,0,0,8.05,S,Third,man,NaN,Southampton,no,True,True

### **칼럼간 연산**

In [ ]:
df1['family'] = df1['sibsp'] + df1['parch']
df1.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,deck,embark_town,alive,alone,VIP,family
0,0,3,male,22.00,1,0,7.25,S,Third,man,NaN,Southampton,no,False,True,1
1,1,1,female,38.00,1,0,71.28,C,First,woman,C,Cherbourg,yes,False,True,1
2,1,3,female,26.00,0,0,7.92,S,Third,woman,NaN,Southampton,yes,True,True,0

In [ ]:
df1['gender'] = df1['who'] + '-' + df1['sex'] #문자열의 합(이어붙히기)
df1['gender'].head(3)

0        man-male
1    woman-female
2    woman-female
Name: gender, dtype: object

In [ ]:
#round(숫자, 소수 몇 째자리)
df1['round'] = round(df1['fare'] / df1['age'], 2)
df1.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,deck,embark_town,alive,alone,VIP,family,gender,round
0,0,3,male,22.00,1,0,7.25,S,Third,man,NaN,Southampton,no,False,True,1,man-male,0.33
1,1,1,female,38.00,1,0,71.28,C,First,woman,C,Cherbourg,yes,False,True,1,woman-female,1.88
2,1,3,female,26.00,0,0,7.92,S,Third,woman,NaN,Southampton,yes,True,True,0,woman-female,0.30

In [ ]:
# 연산 시 1개의 컬럼이라도 NaN값을 포함하고 있다면 결과는 NaN
df1.loc[df1['age'].isnull(), 'deck':].head()

## **타입 간 변환**

### **category 타입**

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  deck         203 non-null    category
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
 14  VIP          891 non-null    bool
 15  family       891 non-null    int64
 16  gender       891 non-null    object
 17  round        714 non-null    float64
dtypes: bool(2), category(2), float64(3), int64(5), object(6)
memory usage: 101.5+ KB

In [ ]:
df1['who'].astype('category').head() # category로 type 변경

0      man
1    woman
2    woman
3    woman
4      man
Name: who, dtype: category
Categories (3, object): ['child', 'man', 'woman']

In [ ]:
df1['who'] = df1['who'].astype('category') #변경사항 저장
# category 타입으로 변경 시 메모리가 감소함

category타입으로 변환할 경우, .cat으로 접근하여 category 타입이 제공하는 attribute를 사용할 수 있음

In [ ]:
df1['who'].cat.categories #카테고리 출력

df1['who'].cat.categories = ['아이', '남자', '여자'] #카테고리 이름 변경 #변경 시 원래 순서대로 입력
df1['who'].value_counts()

### **datetime - 날짜, 시간**

dt접근자로 날짜 속성에 쉽게 접근할 수 있음
- 날짜 관련 도큐먼트 : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.year.html

- pandas.Series.dt.year: 연도

- pandas.Series.dt.month: 월

- pandas.Series.dt.day: 일

- pandas.Series.dt.hour: 시

- pandas.Series.dt.minute: 분

- pandas.Series.dt.second: 초

- pandas.Series.dt.microsecond: micro 초

- pandas.Series.dt.nanosecond: nano 초

- pandas.Series.dt.week: 주

- pandas.Series.dt.weekofyear: 연중 몇 째주

- pandas.Series.dt.dayofweek: 요일

- pandas.Series.dt.weekday: 요일 (dayofweek과 동일)

- pandas.Series.dt.dayofyear: 연중 몇 번째 날

- pandas.Series.dt.quarter: 분기

In [ ]:
# 실습용 데이터셋 다운로드
!pip install opendata-kr -q

from opendata import dataset

dataset.download('서울시자전거')

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 21.4 MB/s eta 0:00:00
[서버] Jaen
======= 다운로드 시작 =======

data/서울시자전거/seoul_bicycle.csv

  0%|          | 0.00/31.1M [00:00<?, ?B/s]

======= 다운로드 완료 =======

In [ ]:
# 데이터셋 로드
df2 = pd.read_csv('/content/data/서울시자전거/seoul_bicycle.csv')
df2.head()

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이용시간
0,Jan-20-2020,3,중랑센터,일일(회원),M,AGE_003,3,61.82,0.52,2230.00,75
1,Jan-20-2020,3,중랑센터,일일(회원),M,AGE_004,1,39.62,0.28,1220.00,15
2,Jan-20-2020,3,중랑센터,정기,M,AGE_005,3,430.85,4.01,17270.00,53
3,Jan-20-2020,5,상암센터 정비실,일일(회원),\N,AGE_005,2,1.79,0.02,90.00,33
4,Jan-20-2020,5,상암센터 정비실,정기,F,AGE_003,1,4501.96,45.47,196010.00,64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327231 entries, 0 to 327230
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    327231 non-null  object
 1   대여소번호   327231 non-null  int64
 2   대여소명    327231 non-null  object
 3   대여구분코드  327231 non-null  object
 4   성별      272841 non-null  object
 5   연령대코드   327231 non-null  object
 6   이용건수    327231 non-null  int64
 7   운동량     327231 non-null  object
 8   탄소량     327231 non-null  object
 9   이동거리    327231 non-null  float64
 10  이용시간    327231 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 27.5+ MB

- pd.to_datetime() : datetime type로 변환함
- 적용된 후 .dt 접근자를 활용하여 datetime 속성에 접근할 수 있음

In [ ]:
#대여일자 칼럼이 object이므로 .dt접근자를 이용하여 타입 변경
pd.to_datetime(df2['대여일자'])
df2['대여일자'] = pd.to_datetime(df2['대여일자']) #재대입하여 컬럼에 적용함
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327231 entries, 0 to 327230
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   대여일자    327231 non-null  datetime64[ns]
 1   대여소번호   327231 non-null  int64
 2   대여소명    327231 non-null  object
 3   대여구분코드  327231 non-null  object
 4   성별      272841 non-null  object
 5   연령대코드   327231 non-null  object
 6   이용건수    327231 non-null  int64
 7   운동량     327231 non-null  object
 8   탄소량     327231 non-null  object
 9   이동거리    327231 non-null  float64
 10  이용시간    327231 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 27.5+ MB

In [ ]:
df2['대여일자'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
327226    2020
327227    2020
327228    2020
327229    2020
327230    2020
Name: 대여일자, Length: 327231, dtype: int32

### **pd.cut() - 구간 나누기(binning)**

- 연속된 수치(continuous values)를 **구간으로 나누어 카테고리화 할 때** 사용함
- 직접 범위를 설정할 수 있음
-- right=False 로 지정 시 우측 범위를 포함하지 않음
-- labels를 지정할 수 있음, 지정한 bins의 개수보다 1개 적어야 함

In [ ]:
bins = [0, 6000, 100000, df2['이동거리'].max()]
pd.cut(df2['이동거리'], bins, right=False)

0                   [0.0, 6000.0)
1                   [0.0, 6000.0)
2              [6000.0, 100000.0)
3                   [0.0, 6000.0)
4         [100000.0, 56709052.94)
                   ...
327226         [6000.0, 100000.0)
327227              [0.0, 6000.0)
327228              [0.0, 6000.0)
327229              [0.0, 6000.0)
327230    [100000.0, 56709052.94)
Name: 이동거리, Length: 327231, dtype: category
Categories (3, interval[float64, left]): [[0.0, 6000.0) < [6000.0, 100000.0) <
                                          [100000.0, 56709052.94)]

In [ ]:
# labels 지정 가능
labels = ['적음', '보통', '많음']
pd.cut(df2['이동거리'], bins, labels=labels, right=False)

0         적음
1         적음
2         보통
3         적음
4         많음
          ..
327226    보통
327227    적음
327228    적음
327229    적음
327230    많음
Name: 이동거리, Length: 327231, dtype: category
Categories (3, object): ['적음' < '보통' < '많음']

In [ ]:
# bins : 옵션에 나누고자 하는 구간의 개수를 설정함
df2['이동거리_cut'] = pd.cut(df2['이동거리'], bins=3)
df2['이동거리_cut'].value_counts()

이동거리_cut
(-56709.053, 18903017.647]      327216
(18903017.647, 37806035.293]        12
(37806035.293, 56709052.94]          3
Name: count, dtype: int64

위의 분포를 보니 첫 구간에 데이터가 쏠려 있다. <br>
이 이유는 **최소에서 최대 구간을 지정한 bin만큼 동일하게 분할하기 때문**이다.
<br>
고르게 분포한 데이터라면 괜찮지만, 튀는 **이상치(outlier)가 있는 경우 좋지 않음**.

### **pd.qcut() - 동일한 갯수를 갖도록 구간 분할**
- quantity, 즉 데이터의 분포를 최대한 비슷하게 유지하는 구간을 분할함

In [ ]:
df2['이동거리_qcut'] = pd.qcut(df2['이동거리'], q=3)
df2['이동거리_qcut'].value_counts()

이동거리_qcut
(-0.001, 9030.0]          109095
(60470.0, 56709052.94]    109072
(9030.0, 60470.0]         109064
Name: count, dtype: int64

구간도 예쁘게 분할(균등하게 분할)이 된 것 처럼 보이지만, 간격은 일정하지 않습니다.

In [ ]:
qcut_bins = [0, 0.2, 0.8, 1]
pd.qcut(df2['이동거리'], qcut_bins)

0                (-0.001, 3570.0]
1                (-0.001, 3570.0]
2              (3570.0, 125530.0]
3                (-0.001, 3570.0]
4         (125530.0, 56709052.94]
                   ...
327226         (3570.0, 125530.0]
327227           (-0.001, 3570.0]
327228           (-0.001, 3570.0]
327229           (-0.001, 3570.0]
327230    (125530.0, 56709052.94]
Name: 이동거리, Length: 327231, dtype: category
Categories (3, interval[float64, right]): [(-0.001, 3570.0] < (3570.0, 125530.0] <
                                           (125530.0, 56709052.94]]

- labels 지정 : 범위 수 보다 1개 적게 지정

In [ ]:
qcut_labels = ['적음', '보통', '많음']
pd.qcut(df2['이동거리'], qcut_bins, labels=qcut_labels).value_counts()

이동거리
보통    196307
적음     65482
많음     65442
Name: count, dtype: int64